$padding: 40px;
$white: #fff;

.App {
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: $white;
  min-height: calc(100vh - (#{$padding} * 2));
  padding: $padding;
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 240px;
  pointer-events: none;
}

.AppHeader {
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBody {
  justify-content: space-between;
  align-items: center;
}

.AppLink {
  color: #61dafb;
}

.text {
  color: yellow;
  margin: 20px;
}
.button {
}
.testView {
  width: 50%;
  height: 100px;
  margin: 20px;
  padding: 20px;
  background: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(225deg);
  }
  to {
    transform: rotate(585deg);
  }
}
